{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/photo.css') }}">
{% endblock %}

{% block body %}


    <div class="flex mt-5 items-center justify-center bg-black">
        {{ form_start(form, {
            form_attr:{
                clas:'flex mt-5 items-center justify-center'
            }
        }) }}
        <label class="custom-upload">
            <span class="camera-icon">📷</span>
            <span>Prendre une photo</span>
            {{ form_row(form.imageFile, {
                attr: {
                    'accept': 'image/*',
                    'capture': 'environment'
                }})
            }}
        </label>

        <button type="submit" class="btn bg-white">Envoyer</button>
        {{ form_end(form) }}
    </div>


{% endblock %}

{% block title %}

{% endblock %}

