<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Portfolio d'Émilie Chanavat - Développeuse Web. Découvrez mes projets, compétences et expériences.">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="canonical" href="https://monportfolio.emiliechanavat.com/page-url" />
        <title>Émilie Chanavat - Développeuse Web</title>
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="icon" href="{{ asset('logo.png') }}" type="image/png">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>
